body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 20%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

 /* Button section */

button {
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    margin-right: auto;
    align-items: center;
    margin-left: inherit; 
}

.container {
    height: 20px;
    position: relative;
    border: none;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section {
    width: 1200px;
    margin: 0% auto;
    border: none;
    border-radius: 15px;
    background-color: hsla(240, 4%, 10%, 0.6);
    height: 900px;
  }
  
.buttonhr {
    height: 25px;
    width: 750px;
    background-color: greenyellow;
    padding: 6px;
    border-radius: 1px;
}

/* H1 & P */

h1 {
    color: rgb(150, 214, 55);
    text-align: center;
}

p {
    color: white;
    top: 50px;
}

input, select, textarea{
   color: white;
}

/* HR style */
 
.hr22 {
    height: 18px;
    width: 280px;
    background-color: bisque;
    border: 2px solid bisque;
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 80px;
}

.hr24 {
    height: 18px;
    width: 450px;
    background-color: rgb(110, 199, 38);
    border: 2px solid rgb(110, 199, 38);
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: -25px;
}

.hr154 {
    height: 18px;
    width: 110px;
    background-color: rgb(134, 72, 60);
    border: 2px solid rgb(134, 72, 60);
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 385px;
}

/* style mono */

.mono {
    position: absolute;
    left: 605px;
    width: 300px;
    height: 100px; 
}

.mono1 {
   text-align: left;
   width: 300px;
   height: 130px;
   
}
.mono1, .mono2 .mono3 {
    font-weight: 100%;
}

/* Nome monopattini */

.subject {
    color: white;
    position: absolute;
}

h3 {
    margin: auto;
    font-size: 20px;
    height: 10px;
    text-align: left;
}